@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    color: #222;
    font-weight: 300;
    font-family: 'Montserrat',sans-serif;
}
.wrapper{
    width: 1280px;
    margin: 50px auto;
}
header{
    position: relative;
}
header .logo{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
}
header ul.nav{
    float: right;
    list-style: none;
}
header ul.nav li{
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}
header ul.nav li:hover{
    opacity: 0.5;
}
header .shop-cart-button{
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}
header .shop-cart-button:hover,
header .shop-cart-button.active{
    color: #dc3d3d;
    transform: scale(1.5);
}
header .search-button{
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-right: 20px;
}
header .search-button:hover,
header .search-button.active{
    color: #dc3d3d;
    transform: scale(1.5);
}
header .search-cart{
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #f1f1f1;
    box-shadow: 5px 5px 5px 5px rgb(211, 210, 210);
    z-index: 1000;
    padding: 20px;
    padding-bottom: 0;
}
header .auth-reg-cart{
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 0;
    width: 280px;
    background: #f1f1f1;
    box-shadow: 5px 5px 5px 5px rgb(211, 210, 210);
    z-index: 1000;
    padding: 20px;
    padding-bottom: 0;
}
header .auth-reg-cart input{
    border: 1px solid transparent;
    width: 250px;
    align-items: center;
    outline: none;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
header .auth-reg-cart input:focus{
    border-bottom: 1px solid gray;
}
header .auth-reg-cart p{
    margin-left: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: color, transform 500ms ease;
    font-weight: 100;
}
header .auth-reg-cart p:hover{
    color: #5fa36a;
    transform: scale(1.1);
    cursor: pointer;
}
header .search-cart input{
    border: 1px solid transparent;
    background: transparent;
    margin-bottom: 20px;
    text-decoration: none;
    width: 70%;
    height: 20px;
    outline: none;
}
header .search-cart input:focus{
    border-bottom: 1px solid gray;
}
header .shop-cart{
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #f1f1f1;
    box-shadow: 5px 5px 5px 5px rgb(211, 210, 210);
    z-index: 1000;
    padding: 20px;
    padding-bottom: 0;
}
header .shop-cart .item{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
header .shop-cart .item img{
    width: 70px;
    float: left;
    margin-right: 20px;
}
header .shop-cart .item h2{
    font-size: 20px;
    margin-bottom: 10px;
}
header .shop-cart .item b{
    color: #797979;
    font-weight: 600;
}
header .shop-cart .item .delete-icon{
    color: #ca5252;
    float: right;
    position: relative;
    top: -25px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}
header .shop-cart .item .delete-icon:hover{
    color: #dc3d3d;
    transform: scale(1.5);
}
header .shop-cart .summa{
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
header .shop-cart .empty h2{
    font-size: 20px;
    margin-bottom: 20px;
}
header .presentation{
    margin: 50px 0;
    background: url('https://rtlimages.apple.com/cmc/dieter/store/16_9/R085.png?resize=750:422&output-format=jpg&output-quality=85&interpolation=progressive-bicubic') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}
header .presentation::after{
    content: 'Лучшая техника Apple у нас';
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
header .presentation::before{
    content: 'по низким ценам';
    position: absolute;
    top: 280px;
    left: 50px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}
.categories select{
    background: #fff;
    outline: none;
    width: auto;
    float: right;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid transparent;
    background: #f1f1f1;
    font-family: 'Montserrat',sans-serif;
}



.btn-confirm{
    background: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 70px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
}
.btn-confirm:hover{
    border-color: silver;
    transform: scale(1.1);
}
header .btn-buy{
    background: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    float: right;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
}
.btn-buy:hover{
    border-color: green;
    transform: scale(1.1);
}

.search-btn{
    display: inline-block;
    background: #fff;
    padding: 10px;
    padding-right: 20px;
    padding-left: 18px;
    border-radius: 50px;
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
    width: 90px;
    text-align: center;
}
.search-btn:hover{
    border-color: silver;
    transform: scale(1.1);
}
.categories div{
    display: inline-block;
    background: #f2f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
}
.categories div:hover{
    border-color: silver;
    transform: scale(1.1);
}
.pagination{
    /* text-align: center; */
    /* align-items: center; */
    justify-content: center;
}
.pagination div{
    display: inline-flex;
    background: #f2f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
}
.pagination div:hover{
    border-color: silver;
    transform: scale(1.1);
}
.full-item{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;

}
.full-item > div{
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 9px;
}
main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .Card {
    width: 30%;
    margin-bottom: 50px;
    background: #e8e7e7ae;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}
main .Card img, .full-item img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    cursor: pointer;
}
main .Card p, .full-item p{
    font-weight: 600;
}
main .Card img:hover, .full-item img:hover{
    transform: scale(1.03);
}
main h2,.full-item h2,
 main p, .full-item p,
  main b, .full-item b{
    margin: 10px 20px;
    color: #333;
}
main b,
.full-item b{
    color: #5fa36a;
}
main .addToBucket,
.full-item .addToBucket{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}
main .addToBucket:hover,
.full-item .addToBucket:hover{
    transform: scale(1.05) translateY(-5px);
}
.footer{
    /* text-align: center;
    margin-top: 100px; */
    width: 100%;
    margin-top: 100px;
    padding: 10px 50px;
     padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #343434;
    color: white;
}
.footer h4{
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px; 
}
.footer a{
    text-decoration: none;
    transition: all .3s;
    color: #666;
}
.footer a:hover{
    color: #ccc;
    text-decoration: underline;
}
.footer li a{
    display: block;
}
.footer-icons a{
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}

/* ADMIN STYLE */

.list-group a:hover{
  background-color: #f1f1f1;
}
.inp-admin{
    border: 1px solid gray;
    width: 250px;
    align-items: center;
    outline: none;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
